.button {
    font-size: 40px;
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: all 1s;
    outline: none;
}
.activeButton {
    background-color: rgb(231, 231, 231);
    color: black;
    border: 2px solid rgb(231, 231, 231);
}
.text {
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    user-select: none;
}
.text-active {
    color: white;
}
@media (max-width: 600px) {
    .button {
        font-size: 35px;
    }
    .text {
        font-size: 35px;
    }
}